@media (max-width: 600px) {
	.thumbnail.box-style-1 .media-link, .thumbnail.box-style-2 .media-link, .thumbnail.box-style-3 .media-link {
    height: 150px!important;
    min-height: 470px!important;
  }

  .recommend_box_1 .image-box { 
    min-height: 270px; 
  }
}
.single-welcome-slide { 
  height: 670px!important; 
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .single-welcome-slide {
    height: 500px!important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .single-welcome-slide {
    height: 400px!important;
  }
  
  .single-welcome-slide .welcome-text h2 {
    font-size: 40px!important; 
  }
}

@media only screen and (max-width: 767px) and (min-width: 626px) {
  .single-welcome-slide {
    height: 345px!important;
  }
}

@media only screen and (max-width: 625px) and (min-width: 300px) {
  .single-welcome-slide {
    height: 225px!important;
  }
  
  .single-welcome-slide .welcome-text p {
    margin-bottom: 15px!important;
  }
  
  .single-welcome-slide .welcome-text h2 {
    font-size: 25px!important;
    margin-bottom: 20px!important;
  }
}

.thumbnail.box-style-1 .media-link {  
	min-height: 290px;
}

.thumbnail .media {
	display: unset;
}

/* footer1 widgets
/* ========================================================================== */
.custom-footer1-widgets {
  padding: 0px 0 30px;
}
.custom-footer1-widgets .widget {
  /*margin-top: 50px;*/
}
.custom-footer1-widgets .widget .form-control {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 40px;
  width: 60%;
  display:inline;
  border-radius: 4px 0 0 4px !important;
  color: #000000;
  transition: all 0.65s ease-in-out;
}
.custom-footer1-widgets .widget .form-control:hover {
  transition: all 0.65s ease-in-out;
}
.custom-footer1-widgets .widget .btn-subcribe{
  padding: 5px;
  height: 40px;
  width: 30%;
  display:inline-block;
  border-radius: 0 4px 4px 0;
  transition: all 0.65s ease-in-out;
}
.custom-footer1-widgets .widget .btn-subcribe:hover{
  transition: all 0.65s ease-in-out;
}
.custom-footer1-widgets .widget ul li{
  border-top: solid 1px rgb(255, 255, 255);
}
.custom-footer1-widgets .widget ul li:first-child{
  border-top: none;
}
.custom-footer1-widgets .widget li a {
  color:#ffffff;
}
.custom-footer1-widgets .widget-title {
  margin-top: 0;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
}
.custom-footer1-widgets .widget-title:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #fff;
}
.custom-footer1-widgets .contact .media .fa {
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  margin-right: 5px;
  text-align: center;
  color: #ffffff;
}
.custom-footer1-widgets .contact .media {
  margin-top:0px;
}
.custom-footer1-widgets .contact .media-body a {
  color:#ffffff;
}
.custom-footer1-widgets .contact .social-icons {
  margin: 5px 0 20px 0;
  line-height: 30px;
  overflow: hidden;
}
.custom-footer1-widgets .contact ul.social-icons li {
  border-top:none;
}
.custom-footer1-widgets .contact ul.social-icons li a{
  color:#ffffff;
  border-top:none;
  font-size: 22px;
  line-height: 28px;
  border: solid 1px #ffffff;
}
@media (max-width: 768px) {
  .custom-footer1-widgets .widget img{
    margin: 0px auto;
  }
  .custom-footer1-widgets .widget p{
    text-align-last:center;
  }
  .custom-footer1-widgets .widget .btn-subcribe{
    width: 28%;
    display:inline-block;
  }
  .footer1-meta .copyright {
    text-align: center;
  }
  .custom-footer1-widgets .widget {
    margin-top: 15px;
  }
}

.custom-footer1-widgets .widget .form-control {
    border: 3px solid #bca858;
}
.custom-footer1-widgets .widget .form-control:hover {
    border: 3px solid #2E3E51;

}
.custom-footer1-widgets .widget .btn-subcribe{
  background: #bca858;
  border: 3px solid #bca858;
	color:#fff;
}
.custom-footer1-widgets .widget .btn-subcribe:hover{
    background: #2E3E51;
	color:#ffffff;
    border: 3px solid #2E3E51;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.panel-body {
  padding: 15px;
}

.activeModal .close { 
  top: 10px; 
}

.content-tabs .nav-tabs > li > a, .content-tabs .nav-tabs > li > a:focus { 
  border: solid 1px #d8d6d6;
  margin-left: 1px;
  margin-right: 1px;
}

.orders .shopping-cart table tfoot td { 
 font-size: 16px!important; 
}

.get_into hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #00000000, #33495e, #00000000);
  margin: 0px 0px 30px;
}

.logo_top {
  background: #ddbd26 !important;
}

.information-title {
  border-bottom: 3px solid #a37217!important;
  background-color: #bca858!important;
}

.btn-theme {
  background-color: #bca858!important;
  border-color: #bca858!important; 
}

.btn-theme-dark {
  background-color: #d8a444!important;
  border-color: #d8a444!important; 
}

.block-title.alt .fa {
  background-color: #bca858!important; 
}

.product-single .buttons .quantity {
  border: 1px solid #bca858!important;
}

.product-single .buttons .quantity .btn {
  background-color: #bca858!important; 
  border: 1px solid #bca858!important;
} 

.product-single .buttons .quantity .qty {
  border: 1px solid #bca858!important;
}